<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Mi trabajo integrador
        {% endblock %}
    </title>
</head>
    
    <a href="{% url 'index_2' %}" ><img src='{% static "shop/imagenes/logo.png" %}'></a>
    {% block content %}
        
        <h1>Contenido base de Body</h1>
    
    {% endblock %}
<body>
</body>
</html>